html {
  font-size: 62.5%; /**10px**/
}

header {
  color: white;
  background: url(LPcafe/bg.jpg)no-repeat top/cover;
}


nav {
  padding: 10px 20px 0 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav ul li {
  padding: 0 20px;
  font-weight: bold;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

ul li a:hover {
  color: #543f32;
}


.header-in {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-in h1 {
  font-size: 7rem;
  margin: 0;
  text-shadow: 0 3px black;
}

.header-in p {
  font-size: 2rem;
  text-shadow: 0 3px black;
}



.cafe  {
  display: flex;
  flex-direction: row;

}

.cafe-2  {
  display: flex;
  flex-direction: row-reverse;
}


#concept {
  padding-top: 180px;
}


#concept .left {
  width: 50%;
  height: 570px;
  padding: 90px 40px 90px 40px;
}


#concept img{
  width: 50%;
  height: 570px;
}

#concept h2 ,
#MENU h2 ,
#BLOG h2,
#contact h2  {
  font-size: 5.5rem;
  color: #543f32;
}

#concept h3 ,
#MENU h3 ,
#BLOG h3 ,
#contact h3 {
  width: 40%;
  font-size: 3rem;
  border-bottom: solid 2px black;
  color: #543f32;
}

#concept p {
  font-size: 1.7rem;
  line-height: 2;
  font-weight: bold;
}

#concept p span {
  color:tan;
}

#concept .cafe-2 h3{
  width: 15%;
}



footer {
  background: #24140e;
  padding: 30px 0 ;
  color: white;
}

footer h3 {
  font-size: 2.5rem;
  text-align: center;
}

footer p {
  font-size: 1.5rem;
  text-align: center;
}
